body {
    margin: 20px 40px;
    font-family: Georgia;
    line-height: 1.5;
}

h1 {
    font-weight: normal;
}

h2 {
    font-weight: normal;
}

a {
    color: #11c;
    text-decoration: none;
}

#sidebar {
    float: left;
    top: 120px;
    left: 20px;
    width: 200px;
    border-right: 1px solid #ccc;
    padding: 20px 20px 0 0;
}

#sidebar nav {
    text-align: right;
}

#sidebar nav h1 {
    text-transform: uppercase;
    font-size: 12pt;
}

#sidebar nav ul {
    list-style-type: none;
}

section#main {
    float: left;
    width: 600px;
    padding-left: 60px;
}

pre code {
    display: block;
    padding: 1em;
}

code {
    background-color: #fafafa;
    border: 1px solid #c8c8c8;
}

footer#footer {
    clear: both;
}

li.post {
    padding-bottom: 1em;
}
    
