body {
    margin: 20px 40px;
    font-family: Georgia;
    font-size: 14pt;
    line-height: 1.6em;
}

#container {
    max-width: 60em;
}

h1 {
    font-weight: normal;
    font-size: 22pt;
}

h2 {
    font-weight: bold;
    font-size: 18pt;
    padding-top: 1em;
    border-bottom: solid #eee 2px;
}

h3 {
    font-weight: bold;
    font-size: 14pt;
    border-bottom: solid #eee 2px;
}

a {
    color: #11c;
    text-decoration: none;
}

#sidebar {
    float: left;
    top: 3em;
    left: 3em;
    width: 15em;
    border-right: 1px solid #ccc;
    padding: 1em 1em 0 0;
}

#sidebar nav {
    text-align: right;
}

#sidebar nav h1 {
    text-transform: uppercase;
    font-size: 12pt;
}

#sidebar nav ul {
    list-style-type: none;
}

section#main {
    float: left;
    max-width: 40em;
    padding-left: 3em;
}

pre code {
    display: block;
    padding: 1em;
    overflow-x: auto;
}

code {
    background-color: #fafafa;
    border: 1px solid #c8c8c8;
}

footer#footer {
    clear: both;
}

article {
    padding: 1em 0;
}

article a.title {
    font-size: x-large;
}

article header {
    color: #999;
    font-size: small
}

ul.tags {
    list-style: none;
    display: inline;
    padding: 0;
}

ul.tags li {
    display: inline;
    padding: 0.2em 0.3em;
    color: #444;
    background-color: #eee;
    margin: 0.1em;
    border-radius: 0.8em;
}

div.figure {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

table {
    border-collapse: collapse;
}

th {
    padding: 0 1em;
    /*border-left: solid #ccc 1px;
    border-right: solid #ccc 1px;*/
    border-bottom: solid #ccc 1px;
}

td {
    padding: 0.2em 1em;
}

dt {
    font-style: italic;
}

blockquote {
    border-left: 0.25em solid #eee;
    padding-left: 1em;
    margin: 0;
}
