<div style="float: right; padding: 2em;">
  <img src="/media/ben-in-berlin.jpeg" style="width: 200px;"/>
</div>

<div class="about">
    <h1>About</h1>
    <p>
      My name is Ben Gamari. I am a graduate student in the Physics
      Department at the University of Massachussetts Amherst where
      I am studying the properties of biopolymers through
      single-molecule spectroscopy in
      the <a href="http://goldnerlab.physics.umass.edu/wiki/">group</a>
      of Professor Lori Goldner. In my research, I seek to further
      understanding of the conformational properties of biopolymers
      through fluorescence techniques along with advanced statistical
      analysis.
    </p>
    
    <p>
      I am also an open-source advocate, programmer,
      and <a href="/media/t-eating-bone.jpeg">turtle</a> owner. In my
      spare time I enjoy
      <a href="http://www.mchck.org/">building</a> <a href="http://www.reprap.org/">things</a>,
      learning <a href="http://www.haskell.org/">programming
      languages</a>, <a href="http://www.gatheringofthevibes.com/">listening
      to music</a>,
      and <a href="http://en.wikipedia.org/wiki/Metacomet-Monadnock_Trail">being
      outdoors</a>. For a list of projects I have been involved in,
      see my <a href="http://www.github.com/bgamari">Github page</a>.
    </p>

    <p>
      This is where I put notes, thoughts, and other things that might be of
      use or interest to others.
    </p>

    <h2>Contact</h2>
    <ul>
      <li style="list-style-type: none;"><b>Email</b>: <a href="mailto:bgamari@gmail.com">bgamari@gmail.com</a></li>
    </ul>
</div>

<div id="posts">
    <h1>Recent posts</h1>
    <ul>
        $posts$
    </ul>
</div>
