<div class="about">
    <h1>About</h1>
    <p>
        My name is Ben Gamari. I am a graduate student in the Physics
        Department at the University of Massachussetts, Amherst where
        I am studying the properties of biopolymers through
        single-molecule spectroscopy.

        Further, I am an open-source advocate, programmer, and turtle owner.

        Here is where I put notes, thoughts, and other things that might be of
        use to others.
    </p>

    <h2>Contact</h2>
    Email: bgamari at gmail.com
</div>

<div id="posts">
    <h1>Recent posts</h1>
    <ul>
        $posts$
    </ul>
</div>
